:root {
  --clr-background: hsla(215, 28%, 17%, 1);
  --clr-border-light: hsl(216, 12%, 84%);
  --clr-text-light: hsla(255, 5%, 84%, 1);
  --clr-cta: hsl(0, 71%, 64%);
  --clr-cta-hover: hsl(0, 78%, 57%);
  --clr-white: hsla(0, 0%, 100%, 1);
  --font-primary: "Inter", sans-serif;
  --box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
  --box-shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --radius-soft: 6px;
  --radius-normal: 4px;
  --transition-quick: all 0.2s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--clr-background);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  grid-template-areas:
    ".... .... ...."
    ".... head ...."
    ".... main ...."
    ".... .... ....";
  gap: 1em 0;
  color: var(--clr-text-light);
}

body,
input,
select,
button {
  font-family: var(--font-primary);
}

header {
  grid-area: head;
}

main {
  grid-area: main;
}

.title {
  text-align: center;
  margin: 0.5em 0;
}

/* 
Utility 
*/
.flex {
  display: flex;
}

.flex-centered {
  justify-content: center;
  align-items: center;
}

/* 
Color options section  
*/
.color-options__container {
  padding: 2em 1em;
  max-width: 550px;
  margin: 0 auto;
}

.color-options__form {
  gap: 1em;
  flex-flow: column;
  align-items: start;
}

.color-options__color-picker {
  height: 44px;
  width: 44px;
  cursor: pointer;
  border-radius: var(--radius-normal);
}

.color-options__scheme {
  font-size: 1rem;
  width: 100%;
  flex-grow: 1;
  background: var(--clr-background);
  color: var(--clr-text-light);
  border: 1px solid var(--clr-border-light);
  border-radius: var(--radius-soft);
  padding: 0.5em 0.75em;
  box-shadow: var(--box-shadow-sm);
  line-height: 1.5;
  appearance: none;
  background-image: url("../assets/icons/Selector.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75em) center;
}

.btn {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: var(--radius-normal);
  box-shadow: var(--box-shadow-sm);
  cursor: pointer;
  transition: var(--transition-quick);
}

.color-options__btn {
  background: var(--clr-cta);
  color: var(--clr-white);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.33;
}

.color-options__btn:hover {
  background: var(--clr-cta-hover);
}

/* 
Color results section  
*/
@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.color-results__container {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.color-card__container {
  animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.color-card__color-display {
  height: 200px;
}

.color-card__code-container {
  margin: 0;
  padding: 0.5em;
  background: var(--clr-background);
  width: 100%;
  gap: 1em;
  color: var(--clr-text-light);
}

.color-card__code-container:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: var(--transition-quick);
}

.color-card__color-code {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 2;
  text-align: center;
}

i,
.color-card__color-code {
  pointer-events: none;
}

@media (min-width: 575px) {
  body {
    grid-template-columns: 10% 1fr 10%;
  }
  .color-options__form {
    flex-flow: row;
    align-items: center;
  }
  .color-options__scheme,
  .btn {
    width: auto;
  }
  .color-card__color-display {
    height: 40vh;
  }
}
